GOOGLE_DRIVE=https://drive.google.com/drive/folders/YOUR_FOLDER_ID
GDRIVE_OAUTH_CLIENT_FILE=credentials/oauth-client.json
GDRIVE_OAUTH_TOKEN_FILE=credentials/token.json

MODEL_PROVIDER=openrouter
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
OPENROUTER_MODEL=YOUR_OPENROUTER_MODEL
FIREWORKS_API_KEY=YOUR_FIREWORKS_API_KEY
FIREWORKS_MODEL=YOUR_FIREWORKS_MODEL
MODEL_TIMEOUT_SECONDS=60
MODEL_TEMPERATURE=0.7
MODEL_MAX_TOKENS=512
